/*-----------------------------------------------------------------------*/
/* root */
/*-----------------------------------------------------------------------*/

:root {
  --blue-color: #106ce6;
  --p-color: #7e7e7e;
  --h2-color: #3f3f3f;
  --h3-color: #3f3f3f;
  --h4-color: var(--blue-color);
  --button-hover-color: #0f65d6;
  --line-color: #1276f8;
  --quote_line-color: #e0e0e0;
  --gray-background-color: #f8f8f8;
  --white-color: #fff;

  /*-----------------------------------------------------------------------*/
  /* Core Padding*/
  /*-----------------------------------------------------------------------*/
  --widthA: 1rem;
  --widthB: calc(100% - 1400px);
  --widthC: calc(var(--widthB) / 2.08);
  --widthD: calc(3% + var(--widthC));
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/*-----------------------------------------------------------------------*/
/* Core Styles */
/*-----------------------------------------------------------------------*/
body {
  font-family: "Cabin", sans-serif;
  background-color: var(--gray-background-color);
  font-size: 1.6rem;
  line-height: 1.7;
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.3;
  letter-spacing: 0.08rem;
}

h2 {
  font-size: 3.2rem;
  margin: 0;
  padding: 0 0 3.5rem 0;
  color: var(--h2-color);
}

h3 {
  font-size: 2rem;
  margin: 0;
  padding: 0 0 0.5rem 0;
  color: var(--h3-color);
}

h4 {
  font-size: 1.6rem;
  margin: 0;
  padding: 3rem 0 0 0;
  color: var(--h4-color);
}

p {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: var(--p-color);
}

ul i {
  color: var(--blue-color);
}

.container {
  position: relative;
  margin-top: 80px;
}

img {
  padding: 0;
}

/*-----------------------------------------------------------------------*/
/* SECTION-NAV / NAVBAR */
/*-----------------------------------------------------------------------*/
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  background-color: var(--white-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 0 3vw;
}

nav .logo {
  float: left;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: var(--blue-color);
  font-family: "Roboto Condensed", sans-serif;
}

nav .logo a {
  text-decoration: none;
  color: var(--blue-color)
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--p-color);
  text-decoration: none;
}

#nav-toggle {
  position: absolute;
  top: -80px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 4px;
  background-color: var(--blue-color);
  margin: 5px 0;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 991px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: start;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: start;
    background-color: var(--blue-color);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }

  nav .links a {
    font-size: 20px;
    color: #ffffff;
  }

  nav :checked~.links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked~.icon-burger .line:nth-child(1) {
    transform: translateY(9px) rotate(225deg);
  }

  nav :checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-9px) rotate(-225deg);
  }

  nav :checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}

/*------------------------------BUTTONS-----------------------------*/
.button-general {
  background-color: var(--blue-color);
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4.4rem;
  width: 140px;
  padding: 0 1rem;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
  margin-top: 4rem;
}

.button-general:hover {
  /* background-color: var(--button-hover-color); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (min-width: 768px) {
  .button-general {
    font-size: 1.6rem;
    height: 5rem;
    justify-content: center;
    width: 18rem;
    padding: 0.5rem 1rem;
  }
}


/*------------------------------QUOTE------------------------------------*/
.quote{
  margin-top:10rem;
  padding:1rem 0;
  border-top: var(--quote_line-color) 0.1rem solid;
  border-bottom: var(--quote_line-color) 0.1rem solid;
  display:flex;
  flex-direction: column;
}

.quote span {
  color: var(--blue-color);
  font-size:5rem;
}

.quote p {
  font-size: 2rem;
  padding:0 0 1rem 0;
  color:var(--p-color);
}

/*------------------------------MOBILE VIEW------------------------------*/


/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION SHOWCASE */
/*-----------------------------------------------------------------------*/

#icon-link {
  display: none;
}

#showcase {
  height: 30vh;
  color: #fff;
}

#showcase .bg-image {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.2)),
    url("https://www.filepicker.io/api/file/gZqzCUI5Qx6f672vm9WI");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  text-align: left;
}

.bg-image {
  padding: 0 3vw;
  display: grid;
  justify-items: start;
  align-items: center;
}

.bg-image p {
  padding: 0;
}

#showcase .showcase-card {
  display: none;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#showcase .showcase-nav {
  display: flex;
  align-items: center;
  color: var(--blue-color);
  gap: 1.6rem;
}

#showcase h2 {
  color: var(--white-color);
}

#showcase h4 {
  color: var(--white-color);
}

.showcase-card p {
  color: var(--p-color);
  font-family: sans-serif;
}


/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION BANNER */
/*-----------------------------------------------------------------------*/
 .banner {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:1rem 3vw;
  background: var(--gray-background-color);
 }

 .banner i {
  font-size:2.2rem;
  color: var(--h2-color);
  padding:0;
  margin:0;
}

 .banner p {
  color: var(--h2-color);
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 500;
}

/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION-ABOUT */
/*-----------------------------------------------------------------------*/

#section-a {
  background-color: var(--white-color);
  padding: 10rem 3vw;
}

/* the main grid*/
#section-a .content-wrap {
  text-align: start;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:0rem;
}
/* the description of image */
#section-a .first__column p {
  font-size: 1.3rem;
}

#section-a img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  filter:grayscale();
 }



/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION-B /OUR MOTO */
/*-----------------------------------------------------------------------*/
#section-b {
  background-color: var(--gray-background-color);
  padding:10rem 3vw;
}

/* create 1 column ul grid */
#section-b .content-wrap {
  text-align: start;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

/* the description of image */
#section-b .first__column p {
  font-size: 1.3rem;
}


#section-b li:first-child{
  order:2;
}
#section-b  li:last-child{
  order:1;
}


#section-b img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
 }

/* remove padding from h4 */
#section-b h4 {
  padding: 0 0 0 0;
  text-align: left;
}


/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - section-c /OUR MOTO */
/*-----------------------------------------------------------------------*/
#section-c {
  background-color: var(--white-color);
  padding: 10rem 3vw;
}

/* create 1 column ul grid */
#section-c .content-wrap {
  text-align: start;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2.5rem;
}

/* the description of image */
#section-c .first__column p {
  font-size: 1.3rem;
}

/* remove padding from h4 */
#section-c h4 {
  padding: 0 0 0 0;
  text-align: left;
}

#section-c img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
 }


/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION-FOOTER */
/*-----------------------------------------------------------------------*/
.footer-content {
  background-color: var(--blue-color);
  color: white;
  margin: 0;
  text-align: start;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 0 3vw;
}

.footer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-content li {
  padding-bottom: 1.5rem;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-content p span {
  color: white;
  padding-left: 0.8rem;
}

.footer-content i {
  font-size: 2.5rem;
}

.footer-content h3 {
  color: #ffffff;
  margin: 0rem;
  padding: 4rem 0rem 2.4rem 0rem;
}

.footer-content h2 {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.design {
  margin-top: 2rem;
}

.design p {
  padding: 3rem 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  border-top: solid 1px var(--line-color);
}

.col-2 i {
  color: var(--white-color);
}

.col-3 i {
  color: var(--white-color);
}

.col-4 i {
  color: var(--white-color);
}

/*------------------------------DESKTOP-576 VIEW------------------------------*/
@media (min-width: 576px) {
 /*-----------------------------------------------------------------------*/
  /* DESKTOP 576  - NAV-PADDING*/
  /*-----------------------------------------------------------------------*/

  nav {
    padding: 0 3vw;
  }

  nav .icon-burger {
    right: 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 576  - SECTION-SHOWCASE */
  /*-----------------------------------------------------------------------*/

  /* increase font size for h2 showcase */
  #showcase h2 {
    font-size: 3.3rem;
  }

  /* increase font size for h4 showcase */
  #showcase h4 {
    font-size: 1.7rem;
  }

  .bg-image {
    /* increase the padding for left and right */
    padding: 0 3vw;
  }

/*-----------------------------------------------------------------------*/
/* DESKTOP 576 - SECTION-A */
/*-----------------------------------------------------------------------*/

#section-a img {
  height: 35rem;
}

/*-----------------------------------------------------------------------*/
/* DESKTOP 576 - SECTION-B */
/*-----------------------------------------------------------------------*/
#section-b img {
  height: 35rem;
}
/*-----------------------------------------------------------------------*/
/* DESKTOP 576 - SECTION-C */
/*-----------------------------------------------------------------------*/
#section-c img {
  height: 35rem;
}
/*-----------------------------------------------------------------------*/
/* DESKTOP 576 - FOOTER */
/*-----------------------------------------------------------------------*/
  .footer-content {
    /* increase the padding for left and right */
    padding: 0 3vw;
  }
}

/*---------------------------DESKTOP-700 VIEW---------------------------*/
@media (min-width: 700px) {

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 700  - NAV-PADDING*/
  /*-----------------------------------------------------------------------*/
  nav {
    padding: 0 3vw;
  }
  nav .icon-burger {
    right: 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 700  - SECTION-SHOWCASE */
  /*-----------------------------------------------------------------------*/

  .bg-image {
    /* increase the padding for left and right */
    padding: 0 3vw;
  }



/*-----------------------------------------------------------------------*/
/* DESKTOP 700 - FOOTER */
/*-----------------------------------------------------------------------*/
.footer-content {
  /* increase the padding for left and right */
  padding: 0 3vw;
}

  /* create a grid */
  footer .content-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
  }
}

/*------------------------------DESKTOP-991 VIEW-------------------------*/
@media (min-width: 991px) {

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - NAV */
  /*-----------------------------------------------------------------------*/
  nav {
    padding: 0 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* NAV BUTTON 991 */
  /*-----------------------------------------------------------------------*/
  #iconlink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.2rem;
    height: 65%;
    width: 270px;
    padding: 1.6rem 0;
    gap: 1.9rem;
    background-color: var(--blue-color);
  }

  #left {
    color: var(--white-color);
    font-size: 1.9rem;
    font-family: "Courier New", Courier, monospace;
  }

  #right a {
    color: var(--white-color);
    font-size: 2.8rem;
    padding: 0;
  }

  #right:hover {
    -webkit-animation: wiggle 0.05s alternate ease infinite;
    animation: wiggle 0.05s alternate ease infinite;
    cursor: pointer;
  }

  @keyframes wiggle {
    0% {
      transform: translate(0);
    }

    10% {
      transform: translate(-2px, -2px);
    }

    20% {
      transform: translate(2px, -2px);
    }

    30% {
      transform: translate(-2px, 2px);
    }

    40% {
      transform: translate(2px, 2px);
    }

    50% {
      transform: translate(-2px, -2px);
    }

    60% {
      transform: translate(2px, -2px);
    }

    70% {
      transform: translate(-2px, 2px);
    }

    80% {
      transform: translate(-2px, -2px);
    }

    90% {
      transform: translate(2px, -2px);
    }

    100% {
      transform: translate(0);
    }
  }




  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - SECTION-SHOWCASE */
  /*-----------------------------------------------------------------------*/
  .bg-image {
    /* decrease the padding for left and right */
    padding: 0 3vw;
  }
  /* show card */
  #showcase .showcase-card {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  #showcase .showcase-card p {
    font-size: 1.4rem;
    font-family: sans-serif;
  }

  #showcase h2 {
    font-size: 3.5rem;
  }

  #showcase h4 {
    font-size: 2rem;
  }

/*-----------------------------------------------------------------------*/
/* DESKTOP 991- SECTION-A */
/*-----------------------------------------------------------------------*/

#section-a {
  background-color: var(--white-color);
  padding: 10rem 3vw;
}
#section-a img {
  /* increase the image height */
  height: 47rem;
}

#section-a .content-wrap {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
}

/* remove padding from h4 */
#section-a h4 {
  padding: 0 0 0 0;
  text-align: left;
}
/*-----------------------------------------------------------------------*/
/* DESKTOP 991- SECTION-B */
/*-----------------------------------------------------------------------*/

#section-b {
  padding: 10rem 3vw;
}
#section-b .first__column{
  order:2;
}
#section-b  .card-content{
  order:1;
}

#section-b .content-wrap {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
}

#section-b img {
  /* increase the image height */
  height: 47rem;
}
/*-----------------------------------------------------------------------*/
/* DESKTOP 991 - SECTION-C */
/*-----------------------------------------------------------------------*/

#section-c {
  background-color: var(--white-color);
  padding: 10rem 3vw;
}

#section-c .content-wrap {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
}
#section-c img {
  /* increase the image height */
  height: 47rem;
}
  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - SECTION-FOOTER */
  /*-----------------------------------------------------------------------*/
  .footer-content {
    /* decrease the padding for left and right */
    padding: 0 3vw;
  }

  footer .content-wrap {
    /* create 4 columns grid */
    grid-template-columns: repeat(4, 1fr);
  }

  footer .col-2,
  .col-3,
  .col-4 {
    justify-self: end;
  }
}

/*------------------------------DESKTOP-1200 VIEW------------------------*/
@media (min-width: 1200px) {
  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1200  - SECTION-SHOWCASE */
  /*-----------------------------------------------------------------------*/

  /* full height showcase image */
  #showcase {
    height: 37vh;
  }

  /* increase the showcase h2 size */
  #showcase h2 {
    font-size: 4.5rem;
  }

  /* increase the showcase h4 size */
  #showcase h4 {
    font-size: 2.5rem;
  }

  #showcase .showcase-card p {
    font-size: 1.6rem;
  }


  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1200  - SECTION-A / ABOUT US */
  /*-----------------------------------------------------------------------*/
  #section-a img {
    /* increase the image height */
    height: 43rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1200  - SECTION-B / ABOUT US */
  /*-----------------------------------------------------------------------*/
 

  #section-b img {
    /* increase the image height */
    height: 43rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1200  - SECTION-C / ABOUT US */
  /*-----------------------------------------------------------------------*/

  #section-c img {
    /* increase the image height */
    height: 43rem;
  }

}

/*----------------------------DESKTOP-1400 VIEW-------------------------*/
@media (min-width: 1400px) {

/*-----------------------------------------------------------------------*/
/* DESKTOP 1400- SECTION BANNER */
/*-----------------------------------------------------------------------*/
.banner {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:1rem 14vw;
  background: var(--gray-background-color);
 }

 .banner i {
  font-size:2.6rem;
  color: var(--h2-color);
  padding:0;
  margin:0;
}

 .banner p {
  color: var(--h2-color);
  font-size: 1.5rem;
  font-family: sans-serif;
 }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - NAV-PADDING*/
  /*-----------------------------------------------------------------------*/
  nav {
    padding: 0 var(--widthD);
  }

  /*----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-SHOWCASE */
  /*----------------------------------------------------------------------*/
  .bg-image {
    /* increase the padding for left and right */
    padding: 0 var(--widthD);
  }

  #showcase .showcase-card p {
    font-size: 1.7rem;
  }

  #showcase h2 {
    font-size: 5.5rem;
  }

  #showcase h4 {
    font-size: 3rem;
  }


  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-A / ABOUT US */
  /*-----------------------------------------------------------------------*/
  #section-a {
    /* increase the padding for left and right */
    padding: 10rem var(--widthD) 10rem var(--widthD);
  }

  #section-a .quote{
    margin:10rem 14vw 0 14vw;
    padding:2rem 0;
    border-top: var(--quote_line-color) 0.1rem solid;
    border-bottom: var(--quote_line-color) 0.1rem solid;
    display:flex;
    flex-direction: row;
   }
  
  #section-a .quote span {
    color: var(--blue-color);
    font-size:5rem;
  }
  
  #section-a .quote p {
    font-size:2.5rem;
    padding:0 3rem 1rem 3rem;
    color:var(--p-color);
    align-self:self-end;
   }
  

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-B / WORK WITH US */
  /*-----------------------------------------------------------------------*/
  #section-b {
    /* increase the padding for left and right */
    padding: 10rem var(--widthD) 10rem var(--widthD);
  }

  #section-b .quote{
    margin:10rem 14vw 0 14vw;
    padding:2rem 0;
    border-top: var(--quote_line-color) 0.1rem solid;
    border-bottom: var(--quote_line-color) 0.1rem solid;
    display:flex;
    flex-direction: row;
   }
  
  #section-b .quote span {
    color: var(--blue-color);
    font-size:5rem;
  }
  
  #section-b .quote p {
    font-size:2.5rem;
    padding:0 3rem 1rem 3rem;
    color:var(--p-color);
    align-self:self-end;
   }

     /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-C / WORK WITH US */
  /*-----------------------------------------------------------------------*/
  #section-c {
    /* increase the padding for left and right */
    padding: 10rem var(--widthD) 10rem var(--widthD);
    background: var(--white-color);
  }

  #section-c .quote{
    margin:10rem 14vw 0 14vw;
    padding:2rem 0;
    border-top: var(--quote_line-color) 0.1rem solid;
    border-bottom: var(--quote_line-color) 0.1rem solid;
    display:flex;
    flex-direction: row;
   }
  
  #section-c .quote span {
    color: var(--blue-color);
    font-size:5rem;
  }
  
  #section-c .quote p {
    font-size:2.5rem;
    padding:0 3rem 1rem 3rem;
    color:var(--p-color);
    align-self:self-end;
   }
  
  
  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-FOOTER */
  /*-----------------------------------------------------------------------*/
  .footer-content {
    /* increase the padding for left and right */
    padding: 0 var(--widthD);
  }
}

/*----------------------------DESKTOP-1921 VIEW--------------------------*/

@media (min-width: 1921px) {


  /*-----------------------------------------------------------------------*/
/* DESKTOP 1400- SECTION BANNER */
/*-----------------------------------------------------------------------*/
.banner {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:1rem 20vw;
  background: var(--gray-background-color);
 }

 .banner i {
  font-size:2.2rem;
  color: var(--h2-color);
  padding:0;
  margin:0;
}

 .banner p {
  color: var(--h2-color);
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 500;
}

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - NAV-PADDING*/
  /*-----------------------------------------------------------------------*/
  nav {
    padding: 0 var(--widthD);
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - SECTION-SHOWCASE */
  /*-----------------------------------------------------------------------*/
  .bg-image {
    /* increase the padding for left and right */
    padding: 0 var(--widthD);
  }

  #showcase h4 {
    font-size: 3rem;
  }

  #showcase h2 {
    font-size: 7rem;
  }

  #showcase .showcase-card p {
    font-size: 1.9rem;
  }

/*-----------------------------------------------------------------------*/
/* DESKTOP 1921- SECTION-A */
/*-----------------------------------------------------------------------*/

#section-a {
   padding: 10rem var(--widthD);
}

#section-a img {
  height: 45rem;
}
/*-----------------------------------------------------------------------*/
/* DESKTOP 1921- SECTION-A */
/*-----------------------------------------------------------------------*/

#section-b {
   padding: 10rem var(--widthD);
}
#section-b img {
  height: 45rem;
}
/*-----------------------------------------------------------------------*/
/* DESKTOP 1921- SECTION-A */
/*-----------------------------------------------------------------------*/

#section-c {
   padding: 10rem var(--widthD);
}
#section-c img {
  height: 45rem;
}
  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - SECTION-FOOTER */
  /*-----------------------------------------------------------------------*/
  .footer-content {
    /* increase the padding for left and right */
    padding: 0 var(--widthD);
  }
}