/*------------------------------BUTTONS-----------------------------*/
.button-general {
    background-color: var(--blue-color);
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 13.6rem;
    padding: 0 1rem;
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
    margin-top:3rem;
  }
  
  .button-general:hover {
    background-color: var(--button-hover-color);
   }
  
  @media (min-width: 991px) {
    .button-general {
      font-size: 1.4rem;
      height: 4.2rem;
      width: 15rem;
      padding: 0.5rem 1rem;
    }
  }