/*-----------------------------------------------------------------------*/
/* import core.css */
/*-----------------------------------------------------------------------*/
 
@import url("core.css");

@import url("navbar.css");

@import url("button.css");


/*------------------------------MOBILE VIEW------------------------------*/


/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION SHOWCASE */
/*-----------------------------------------------------------------------*/

#icon-link {
  display: none;
}

#showcase {
  /* height: calc(100vh - 80px) !important; */
  height: 50vh;
  color: #fff;
}

#showcase .bg-image {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.116), rgba(0, 0, 0, 0.2)),
    url("https://images.unsplash.com/photo-1545958140-244047d78f3a?q=80&w=2694&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  text-align: left;
}

.bg-image {
  padding: 0 3vw;
  display: grid;
  justify-items: start;
  align-items: center;
}

.bg-image p {
  padding: 0;
}

#showcase .showcase-card {
  display: none;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#showcase .showcase-nav {
  display: flex;
  align-items: center;
  color: var(--blue-color);
  gap: 1.6rem;
}

#showcase h2 {
  color: var(--white-color);
}

#showcase h4 {
  color: var(--white-color);
}

.showcase-card p {
  color: var(--p-color);
  font-family: sans-serif;
}

/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION-A / ABOUT US */
/*-----------------------------------------------------------------------*/

#section-a {
  background-color: var(--white-color);
  padding: 10rem 3vw;
}
/* the main grid */
#section-a .content-wrap {
  display: grid;
  grid-template-columns: 1fr;
}
#section-a .card-content {
  text-align: start;
  display:grid;
  grid-template-rows: 2fr;
}

/* the nested grid */
#section-a .card-content ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

#section-a i {
  font-size: 3rem;
}

#section-a img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION-B / OUR PROJECTS */
/*-----------------------------------------------------------------------*/

/* TODO: */
#section-b {
  padding: 0 3vw 10rem 3vw;
}

#section-b a{
  text-decoration: none;
}

.cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  gap: 2rem;
  list-style-type: none;
}

.card {
  border: 0.1rem solid var(--quote_line-color);
  background-color: #ffffff;
  padding:1.5rem;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card__image {
  width: 100%;
  aspect-ratio: 3/1.7;
  object-fit: cover;
  display: block;
}

.card__content {
  text-align: left;
  padding:2rem 0 0 0;
}

#section-b p:nth-child(2) {
  font-size: 1.6rem;
  color: var(--p-color);
}

#section-b p:last-child {
  margin: 0;
  padding:3rem 0 0 0;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1;
}

/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION-C / OUR SERVICES */
/*-----------------------------------------------------------------------*/

#section-c {
  background-color: var(--white-color);
  padding: 10rem 3vw;
  text-align: start;
}
/* the main grid */
#section-c .content-wrap {
  display: grid;
  grid-template-columns: 1fr;
}

#section-c .card-content {
  order: 2;
}

#section-c img {
  order: 1;
}

/* the nested grid */
#section-c .card-content ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  list-style-type: none;
}

#section-c i {
  font-size: 3rem;
}

#section-c p {
  padding: 0.5rem 0 0 0;
}

#section-c img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

#section-c ul li {
  border:var(--quote_line-color) 1px solid;
  padding:0.8rem;
  background-color: var(--gray-background-color);
}

#section-c ul a {
  text-decoration: none;
}
#section-c ul li:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}
/*-----------------------------------------------------------------------*/
/* MOBILE VIEW   - SECTION-D / OUR CLIENTS  */
/*-----------------------------------------------------------------------*/

#section-d {
  padding: 0 3vw 10rem 3vw;
  background-color: var(--blue-color);
}

#section-d .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

#section-d .item {
  flex: 0 0 30%;
  background-color: rgb(252, 252, 252);
  padding: 1rem
}

#section-d .content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: multiply;
}

#section-d h2 {
  color: white;
}

#section-d h4 {
  color: white;
}

/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION-E / OUR BASE */
/*-----------------------------------------------------------------------*/

#section-e {
  background-color: var(--white-color);
  padding: 0 3vw 10rem 3vw;
}

.google-map {
  position: relative;
  height: 30rem;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

/*-----------------------------------------------------------------------*/
/* MOBILE VIEW - SECTION-FOOTER */
/*-----------------------------------------------------------------------*/

.footer-content {
  background-color: var(--blue-color);
  color: white;
  margin: 0;
  text-align: start;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 0 3vw;
}

.footer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-content li {
  padding-bottom: 1.5rem;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-content p span {
  color: white;
  padding-left: 0.8rem;
}

.footer-content i {
  font-size: 2.5rem;
}

.footer-content h3 {
  color: #ffffff;
  margin: 0rem;
  padding: 4rem 0rem 2.4rem 0rem;
}

.footer-content h2 {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.design {
  margin-top: 2rem;
}

.design p {
  padding: 3rem 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  border-top: solid 1px var(--line-color);
}

.col-2 i {
  color: var(--white-color);
}

.col-3 i {
  color: var(--white-color);
}

.col-4 i {
  color: var(--white-color);
}

/*------------------------------DESKTOP-576 VIEW---------------------------*/
@media (min-width: 576px) {

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 576  - NAV-PADDING*/
  /*-----------------------------------------------------------------------*/

  nav {
    padding: 0 3vw;
  }

  nav .icon-burger {
    right: 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 576  - SECTION-SHOWCASE */
  /*-----------------------------------------------------------------------*/

  /* increase font size for h2 showcase */
  #showcase h2 {
    font-size: 3.3rem;
  }

  /* increase font size for h4 showcase */
  #showcase h4 {
    font-size: 1.7rem;
  }

  .bg-image {
    padding: 0 3vw;
  }


  /*-----------------------------------------------------------------------*/
  /* DESKTOP 576  - SECTION-A / ABOUT US */
  /*-----------------------------------------------------------------------*/

  #section-a {
    padding: 10rem 3vw;
  }

  #section-a img {
    height: 35rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 576  - SECTION-B / OUR PROJECTS  */
  /*-----------------------------------------------------------------------*/

  #section-b {
    padding: 0 3vw 10rem 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 576  - SECTION-C / OUR SERVICES */
  /*-----------------------------------------------------------------------*/

  #section-c {
    padding: 10rem 3vw;
  }

  #section-c img {
    height: 35rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 576   - SECTION-D / OUR CLIENTS */
  /*-----------------------------------------------------------------------*/

  #section-d {
    padding: 0 3vw 10rem 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 576  - SECTION-E / OUR BASE */
  /*-----------------------------------------------------------------------*/

  #section-e {
    padding: 0 3vw 10rem 3vw;
  }

  .google-map {
    height: 35rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 576 - FOOTER */
  /*-----------------------------------------------------------------------*/

  .footer-content {
    padding: 0 3vw;
  }
}

/*---------------------------DESKTOP-700 VIEW----------------------------*/
@media (min-width: 700px) {

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 700  - NAV-PADDING*/
  /*-----------------------------------------------------------------------*/

  nav {
    padding: 0 3vw;
  }

  nav .icon-burger {
    right: 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 700  - SECTION-SHOWCASE */
  /*-----------------------------------------------------------------------*/

  .bg-image {
    padding: 0 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 700  - SECTION-A / ABOUT US */
  /*-----------------------------------------------------------------------*/

  #section-a {
    padding: 10rem 3vw;
  }

/* the nested grid */
  #section-a .card-content ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 700  - SECTION-B / OUR PROJECTS */
  /*-----------------------------------------------------------------------*/
  #section-b {
    padding: 0 3vw 10rem 3vw;
  }

  .cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(230px, 1fr));
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 700  - SECTION-C / OUR SERVICES  */
  /*-----------------------------------------------------------------------*/

  #section-c {
    /* increase the padding for left and right */
    padding: 10rem 3vw;
  }

  /* create 2 columns ul grid */
  #section-c .card-content ul {
    grid-template-columns: repeat(2, 1fr);
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 700   - SECTION-D / OUR CLIENTS */
  /*-----------------------------------------------------------------------*/

  #section-d {
     padding: 0 3vw 10rem 3vw;
  }

  #section-d .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  #section-d .item {
    flex: 0 0 20%;
    background-color: var(--white-color);
    padding: 2rem
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 700  - SECTION-E / OUR BASE */
  /*-----------------------------------------------------------------------*/

  #section-e {
     padding: 0 3vw 10rem 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 700 - FOOTER */
  /*-----------------------------------------------------------------------*/

  .footer-content {
     padding: 0 3vw;
  }

  /* create a grid */
  footer .content-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3%;
  }
}

/*------------------------------DESKTOP-991 VIEW-------------------------*/
@media (min-width: 991px) {

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - NAV-PADDING*/
  /*-----------------------------------------------------------------------*/

  nav {
    padding: 0 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* NAV BUTTON 991 */
  /*-----------------------------------------------------------------------*/

  #iconlink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.2rem;
    height: 65%;
    width: 270px;
    padding: 1.6rem 0;
    gap: 1.9rem;
    background-color: var(--blue-color);
  }

  #left {
    color: var(--white-color);
    font-size: 1.9rem;
    font-family: "Courier New", Courier, monospace;
  }

  #right a {
    color: var(--white-color);
    font-size: 2.8rem;
    padding: 0;
  }

  #right:hover {
    -webkit-animation: wiggle 0.05s alternate ease infinite;
    animation: wiggle 0.05s alternate ease infinite;
    cursor: pointer;
  }

  @keyframes wiggle {
    0% {
      transform: translate(0);
    }

    10% {
      transform: translate(-2px, -2px);
    }

    20% {
      transform: translate(2px, -2px);
    }

    30% {
      transform: translate(-2px, 2px);
    }

    40% {
      transform: translate(2px, 2px);
    }

    50% {
      transform: translate(-2px, -2px);
    }

    60% {
      transform: translate(2px, -2px);
    }

    70% {
      transform: translate(-2px, 2px);
    }

    80% {
      transform: translate(-2px, -2px);
    }

    90% {
      transform: translate(2px, -2px);
    }

    100% {
      transform: translate(0);
    }
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - SECTION-SHOWCASE */
  /*-----------------------------------------------------------------------*/

  .bg-image {
     padding: 0 3vw;
  }

  #showcase {
     height: 55vh;
  }

  /* show card */
  #showcase .showcase-card {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  #showcase .showcase-card p {
    font-size: 1.4rem;
    font-family: sans-serif;
  }

  #showcase h2 {
    font-size: 3.5rem;
  }

  #showcase h4 {
    font-size: 2rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - SECTION-A / ABOUT US */
  /*-----------------------------------------------------------------------*/

  #section-a {
     padding: 10rem 3vw 10rem 3vw;
  }

  /* the main grid */
  #section-a .content-wrap {
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
  }

  #section-a img {
    /* increase the image height */
    height: 47rem;
  }

  /* the nested grid */
  #section-a .card-content ul {
    /* create a margin-top from paragraph text */
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* remove padding from h4 */
  #section-a h4 {
    padding: 0 0 0 0;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - SECTION-B / OUR PROJECTS */
  /*-----------------------------------------------------------------------*/

  #section-b {
    /* decrease the padding for left and right */
    padding: 0 3vw 10rem 3vw;
  }

  /* create 3 columns grid */
  .cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - SECTION-C / OUR SERVICES */
  /*-----------------------------------------------------------------------*/

  #section-c {
    /* decrease the padding for left and right */
    padding: 10rem 3vw 10rem 3vw;
  }

  /* the main grid */
  #section-c .content-wrap {
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
  }

  #section-c .card-content {
    order: 1;
  }

  #section-c img {
    order: 2;
  }

  /* the nested grid */
  #section-c .card-content ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  /* increase the image height */
  #section-c img {
    width: 100%;
    height: 47rem;
    object-fit: cover;
  }

  /* remove padding from h4 */
  #section-c h4 {
    padding: 0 0 0 0;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - SECTION-D / OUR CLIENTS */
  /*-----------------------------------------------------------------------*/

  #section-d {
    /* decrease the padding for left and right */
    padding: 0 3vw 10rem 3vw;
  }

  #section-d .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #section-d .item {
    flex: 0 0 16%;
    background-color: rgb(252, 252, 252);
    padding: 2rem
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - SECTION-E / OUR BASE */
  /*-----------------------------------------------------------------------*/

  #section-e {
    /* decrease the padding for left and right */
    padding: 0 3vw 10rem 3vw;
  }

  .google-map {
    /* increase the image height */
    height: 47rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 991  - SECTION-FOOTER */
  /*-----------------------------------------------------------------------*/

  .footer-content {
    /* decrease the padding for left and right */
    padding: 0 3vw;
  }

  footer .content-wrap {
    /* create 4 columns grid */
    grid-template-columns: repeat(4, 1fr);
  }

  footer .col-2,
  .col-3,
  .col-4 {
    justify-self: end;
  }
}

/*------------------------------DESKTOP-1200 VIEW------------------------*/
@media (min-width: 1200px) {
  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1200  - SECTION-SHOWCASE */
  /*-----------------------------------------------------------------------*/

  /* increase the showcase h2 size */
  #showcase h2 {
    font-size: 4.5rem;
  }

  /* increase the showcase h4 size */
  #showcase h4 {
    font-size: 2.5rem;
  }

  #showcase .showcase-card p {
    font-size: 1.6rem;
  }

  /*----------------------------------------------------------------------*/
  /* DESKTOP 1200  - SECTION-A / ABOUT US  */
  /*----------------------------------------------------------------------*/

  #section-a {
    /* decrease the padding for left and right */
    padding: 10rem 3vw 10rem 3vw;
  }

  #section-a i {
    /* increase the i height */
    font-size: 3rem;
  }

  #section-a img {
    /* increase the image height */
    height: 43rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1200  - SECTION-B / OUR PROJECTS */
  /*-----------------------------------------------------------------------*/

  #section-b {
    padding: 0 3vw 10rem 3vw;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1200  - SECTION-C / OUR SERVICES */
  /*-----------------------------------------------------------------------*/

  #section-c {
    /* decrease the padding for left and right */
    padding: 10rem 3vw 10rem 3vw;
  }

  #section-c img {
    /* increase the image height */
    height: 43rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1200  - SECTION-E / OUR BASE */
  /*-----------------------------------------------------------------------*/

  .google-map {
    height: 43rem;
  }

}

/*----------------------------DESKTOP-1400 VIEW--------------------------*/
@media (min-width: 1400px) {


  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - NAV-PADDING*/
  /*-----------------------------------------------------------------------*/

  nav {
    padding: 0 var(--widthD);
  }

  /*----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-SHOWCASE */
  /*----------------------------------------------------------------------*/

  .bg-image {
    padding: 0 var(--widthD);
  }

  #showcase .showcase-card p {
    font-size: 1.7rem;
  }

  #showcase h2 {
    font-size: 5.5rem;
  }

  #showcase h4 {
    font-size: 3rem;
  }


  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-A / ABOUT US */
  /*-----------------------------------------------------------------------*/

  #section-a {
    /* increase the padding for left and right */
    padding: 10rem var(--widthD);
  }

  /* the nested grid */
  #section-a .card-content ul{
    grid-gap: 1.5rem;
  }

  #section-a i {
    font-size: 3.3rem;
  }

  #section-a img {
    /* increase the image height */
    height: 42rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-B / OUR PROJECTS*/
  /*-----------------------------------------------------------------------*/

  #section-b {
    /* increase the padding for left and right */
    padding: 0 var(--widthD) 10rem var(--widthD);
  }
  

  .cards {
    gap: 2rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-C / OUR SERVICES  */
  /*-----------------------------------------------------------------------*/

  #section-c {
    /* increase the padding for left and right */
    padding: 10rem var(--widthD) 10rem var(--widthD);
  }

  /* the nested grid */
  #section-c .card-content ul{
    grid-gap: 1.8rem;
  }
  #section-c i {
    font-size: 3.3rem;
  }

  #section-c img {
    /* increase the image height */
    height: 42rem;
  }

  /*---------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-D / OUR CLIENTS */
  /*---------------------------------------------------------------------*/

  #section-d {
    /* increase the padding for left and right */
    padding: 0 var(--widthD) 10rem var(--widthD);
  }

  #section-d .content {
    gap: 2rem;
  }

  #section-d .item {
    flex: 0 0 16%;
    background-color: rgb(252, 252, 252);
    padding: 2rem
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-E / OUR BASE */
  /*-----------------------------------------------------------------------*/

  #section-e {
    /* increase the padding for left and right */
    padding: 0 var(--widthD) 10rem var(--widthD);
  }

  .google-map {
    height: 42rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1400  - SECTION-FOOTER */
  /*-----------------------------------------------------------------------*/

  .footer-content {
    /* increase the padding for left and right */
    padding: 0 var(--widthD);
  }
}

/*----------------------------DESKTOP-1921 VIEW--------------------------*/

@media (min-width: 1921px) {

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - NAV-PADDING*/
  /*-----------------------------------------------------------------------*/

  nav {
    padding: 0 var(--widthD);
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - SECTION-SHOWCASE */
  /*-----------------------------------------------------------------------*/

  .bg-image {
    /* increase the padding for left and right */
    padding: 0 var(--widthD);
  }

  #showcase h4 {
    font-size: 3rem;
  }

  #showcase h2 {
    font-size: 7rem;
  }

  #showcase .showcase-card p {
    font-size: 1.9rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - SECTION-A / ABOUT US*/
  /*-----------------------------------------------------------------------*/

  #section-a {
    /* increase the padding for left and right */
    padding: 10rem var(--widthD);
  }

  #section-a i {
    /* increase the i height */
    font-size: 3.6rem;
  }

  #section-a img {
    /* increase the image height */
    height: 45rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - SECTION-B / OUR PROJECTS */
  /*-----------------------------------------------------------------------*/

  #section-b {
    /* increase the padding for left and right */
    padding: 0 var(--widthD) 10rem var(--widthD);
  }
  .cards {
    gap: 3rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - SECTION-C / OUR SERVICES */
  /*-----------------------------------------------------------------------*/

  #section-c {
    /* increase the padding for left and right */
    padding: 10rem var(--widthD);
  }

  #section-c img {
    /* increase the image height */
    height: 45rem;
  }

  #section-c i {
    font-size: 3.6rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - SECTION-D / OUR CLIENTS*/
  /*-----------------------------------------------------------------------*/

  #section-d {
    /* increase the padding for left and right */
    padding: 0 var(--widthD) 10rem var(--widthD);
  }

  #section-d .item {
    flex: 0 0 16%;
    background-color: rgb(252, 252, 252);
    padding: 2rem
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - SECTION-E / OUR BASE */
  /*-----------------------------------------------------------------------*/

  #section-e {
    /* increase the padding for left and right */
    padding: 0 var(--widthD) 10rem var(--widthD);
  }

  .google-map {
    /* increase the image height */
    height: 45rem;
  }

  /*-----------------------------------------------------------------------*/
  /* DESKTOP 1921  - SECTION-FOOTER */
  /*-----------------------------------------------------------------------*/

  .footer-content {
    /* increase the padding for left and right */
    padding: 0 var(--widthD);
  }
}